<div class="container my-5">
    <h1 class="mb-3">{{pageTitle}}</h1>

    <table class="table" *ngIf="employeeList && employeeList.length" >
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Salary</th>
                <th>Department</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let emp of employeeList" >
                <td>{{emp.id}}</td>
                <td>
                    <a [routerLink]="['/employee','edit', emp.id]">
                        {{emp.name}}
                    </a>
                </td>
                <td>{{emp.email}}</td>
                <td>{{emp.phone}}</td>
                <td>{{emp.salary}}</td>
                <td>{{emp.department}}</td>
                <td>
                    <!-- <a [routerLink]="['/employee','edit', emp.id]">Edit</a> -->
                    <button class="btn btn-outline-danger"
                        (click)="deleteEmployee(emp.id)"
                    >
                        Delete 
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <p *ngIf="!employeeList || employeeList.length <= 0">No Employees found!</p>
</div>